body {
    font-family: 'Poppins', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    margin: 0;
    background: linear-gradient(-45deg, #68e6ff, #ffd875, #a0ff91);
    background-size: 260% 260%; 
    animation: gradient 10s ease-in-out infinite; 
  }
  

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
